p {
  font-size: 25px;
}

.description {
  text-transform: capitalize;
}
.farenheit {
  font-size: 18px;
  position: relative;
  bottom: 15px;
}

.border {
  max-width: 605px !important;
}

.currentDate {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  text-align: right;
  margin-top: 34px;
}

.currentWeatherText {
  color: grey;
  font-size: 12px;
}

.currentCity {
  font-size: 18px;
  font-weight: bold;
}

.citySearch {
  font-size: 10px;
  color: grey;
}

.weatherDetails {
  color: grey;
  font-size: 14px;
}

.weather-forecast {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.weatherIconFuture {
  max-width: 40px;
}

.mainTempHigh {
  font-weight: bold;
  font-size: 40px;
  margin-right: -4px;
  display: inline-block;
}

.mainTempLow {
  font-weight: normal;
  font-size: 40px;
}

.currentTempHigh {
  font-weight: bold;
  font-size: 9px;
}

.currentTempLow {
  font-weight: normal;
  font-size: 9px;
}

.footnote {
  color: grey;
  font-size: 10px;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .container {
    max-width: 90%;
    text-align: center;
  }

  .Weather {
    margin-left: 0px !important;
  }
  .citySearch {
    display: none;
  }
  .currentDate {
    text-align: center;
    margin-bottom: -20px;
  }

  .WeatherInfo {
    text-align: center;
    margin-bottom: 6px;
  }

  .weatherDetails {
    display: block;
  }

  .card {
    max-width: 70%;
    display: block !important;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
