p {
  font-size: 25px;
}

.container {
  font-family: "DM Sans", sans-serif;
}

.top-row {
  margin-bottom: -14px;
}

.description {
  text-transform: capitalize;
}
.farenheit {
  font-size: 18px;
  position: relative;
  bottom: 15px;
}

.border {
  max-width: 605px !important;
  background-color: #bfe6ee;
  border-radius: 10px;
}

.currentDate {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-top: 28px;
  background-color: white;
  border-radius: 6px;
  padding: 3px;
  border: 2px solid lightgrey;
  box-shadow: 5px 4px 0px black;
}

.currentWeatherText {
  color: grey;
  font-size: 12px;
}

.currentCity {
  font-size: 18px;
  font-weight: bold;
}

.current-city-temp {
  margin-top: -8px;
}

.citySearch {
  font-size: 10px;
  color: black;
  font-weight: bold;
}

.weatherDetails {
  color: grey;
  font-size: 14px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid lightgrey;
  padding-top: 24px;
  text-align: center;
  box-shadow: 5px 4px 0px black;
}

.current-weather-info {
  background-color: white;
  border-radius: 10px;
  border: 2px solid lightgrey;
  padding-top: 5px;
  box-shadow: 5px 4px 0px black;
}

.main-icon {
  background-color: white;
  border-radius: 10px;
  border: 2px solid lightgrey;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 26px;
  text-align: center;
  box-shadow: 5px 4px 0px black;
  margin-left: 10px;
  margin-right: 10px;
}

.weather-forecast {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.weatherIconFuture {
  max-width: 40px;
}

.mainTempHigh {
  font-weight: bold;
  font-size: 40px;
  margin-right: -4px;
  display: inline-block;
}

.mainTempLow {
  font-weight: normal;
  font-size: 40px;
}

.currentTempHigh {
  font-weight: bold;
  font-size: 9px;
}

.currentTempLow {
  font-weight: normal;
  font-size: 9px;
}

.card {
  border: 2px solid lightgrey !important;
  box-shadow: 5px 4px 0px black;
}

.footnote {
  color: grey;
  font-size: 10px;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .container {
    max-width: 100%;
    text-align: center;
  }

  .form {
    display: block !important;
    margin: 0 auto;
    max-width: 100%;
  }

  .citySearch {
    display: none;
  }

  .currentDate {
    max-width: 98%;
    display: block;
    margin: 0 auto;
    margin-bottom: -10px;
    margin-top: 20px;
    padding: 5px;
  }

  .mainTempHigh {
    font-size: 36px;
  }

  .mainTempLow {
    font-size: 36px;
  }

  .current-city-temp {
    margin-top: -6px;
  }

  .farenheit {
    font-size: 14px;
  }

  .WeatherInfo {
    text-align: center;
    margin-bottom: 6px;
  }

  .weatherDetails {
    display: block !important;
    margin: 0 auto;
    max-width: 100%;
    padding: 4%;
    margin-bottom: -10px;
  }

  .current-weather-info {
    display: block !important;
    margin: 0 auto;
    max-width: 100%;
    padding: 4%;
    margin-bottom: 10px;
  }

  .main-icon {
    display: block !important;
    margin: 0 auto;
    padding-top: 10px;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .card {
    max-width: 100%;
    display: block !important;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .footnote {
    max-width: 60%;
    display: block !important;
    margin: 0 auto;
  }
}
